/************************************************ tab container */

.profile-nav {
  background-color22: red;
}

.profile-nav .nav-item {
  background-color22: blue;
}

.profile-pane {
  background-color: white;
  position:fixed;
  left:10px;
  width:100%;
}

/************************************************ buttons */

#command1Btn {
  font-size: 18px;
}

#command2Btn {
  font-size: 18px;
}

/************************************************ info */

#infoDiv {
  position:fixed;
  bottom:0px;
  left:10px;
}

