/************************************************ tab container */

.profile-nav {
  background-color: white;
}

.profile-nav .nav-item {
  background-color: white;
}

.profile-pane {
  background-color: white;
  position:fixed;
  left:10px;
}

/************************************************ buttons */

#btnCommand1 {
  font-size: 18px;
}

#btnCommand2 {
  font-size: 18px;
}

/************************************************ info */

#divPlatformInfo {
  position:fixed;
  bottom:0px;
  left:10px;
}

